extends layout

block content
			.grid_12
					a(href="/home")
						.homeheader Contact
						.homedesc bridget crowe
			.grid_8
				.bio
					.heading bio [460x408]
					.content
						|Bridget is pretty cool. This is where her biography would go.
			.grid_4
				.resume
					a(href="/images/jcarp.pdf") 
						.heading resume [220x408]
						.content [click to download]
			.grid_4
					.contact
						.heading contact [220x408]
						.content
							|415.209.3223 <br/>
							|bcrowe@saic.edu
	

			