doctype 5
html(lang="en")
	head
		title= "BridgetCroweWebsite"
		link(rel='stylesheet', href='/stylesheets/960_16_col.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/text.css')
		script(src='/javascripts/jquery-1.4.1.js')
		script(src='/javascripts/scripts.js')
		link(href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css')
		script.
			$(document).ready(function(){
			$("body").css("opacity", "0.1");
			$("body").fadeTo(1000, 1).show();
			});
	.container_16
		body
			.grid_12
					a(href="/home")
						.homeheader contact
						.homedesc bridget crowe x
			.grid_8
				.bio
					.heading bio [460x408]
					.content
						|Bridget is pretty cool. This is where her biography would go.
			.grid_4
				.resume
					a(href="/images/jcarp.pdf") 
						.heading resume [220x408]
						.content [click to download]
			.grid_4
					.contact
						.heading contact [220x408]
						.content
							|415.209.3223 <br/>
							|bcrowe@saic.edu
		

			