extends layout

block header
	a(href="/home")
		h1 Bridget Crowe
		h2 fiber artist/textile designer

block content
		a(href="/projects")
			nav 
				h2.centered projects
				// [928x160]
		a(href="/shop")
			nav
				h2.centered shop
				//[928x160]
		a(href="/contact")
			nav					
				h2.centered contact
				//[928x160]

					

						
					
					

		

			