extends layout

block content
			.grid_16(style="line-height=0px;")
					a(href="/home")
						.homeheader Bridget Crowe
						.homedesc fiber artist/textile designer
			.clear
			.grid_14(style="left:20px;position:relative;")
				a(href="/projects")
					.nav
						.navtext 
							|projects<br/>
							|[928x160]
						img(src='', alt='')
			.clear
			.grid_14(style="left:20px;position:relative;")
				a(href="/shop")
					.nav
						.navtext 
							|shop<br/>
							|[928x160]
						img(src='', alt='')
			.clear
			.grid_14(style="left:20px;position:relative;")
				a(href="/contact")
					.nav					
						.navtext 
							|contact <br/>
							|[928x160]
						img(src='', alt='' )
						
					
					

		

			