doctype 5
html(lang="en")
	head
		title= "BridgetCroweWebsite"
		link(rel='stylesheet', href='/stylesheets/960_16_col.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/text.css')
		script(src='/javascripts/jquery-1.4.1.js')
		script(src='/javascripts/scripts.js')
		script.
			$(document).ready(function(){
			$("body").css("opacity", "0.1");
			$("body").fadeTo(1000, 1).show();
			});
	.container_16
		.grid_16
				.homeimage
					img(src='/images/homeimage2.jpg', alt='The website of Bridget Crowe' style='position:absolute;margin-left: auto;margin-right: auto')
		body
			.grid_12(style="line-height=0px;")
					a(href="/home")
						.homeheader bridget crowe
						.homedesc fiber artist/textile designer
			.clear
			.grid_12.push_2
				.nav
					a(href="/projects")
						.navtext projects
						img(src='images/projectbgd.jpg', alt='')
			.clear
			.grid_12.push_2
				.nav
					a(href="/shop")
						.navtext shop
						img(src='images/shoptest.jpg', alt='')
			.clear
			.grid_12.push_2
				.nav
					a(href="/contact")
						.navtext contact
						img(src='images/contactbgd.jpg', alt='' )
						
					
					

		

			