doctype 5
html(lang="en")
	head
		title="Bridget Crowe's Website"
		link(rel='stylesheet', href='/stylesheets/960_16_col.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/text.css')
		script(src='/javascripts/jquery-1.10.2.js')
		script(src='/javascripts/scripts.js')
		link(href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css')
		script.
			$(document).ready(function() {   
				$("body").css("opacity", "0.1");
				$("body").delay(200).animate({ opacity: 1 }, 200);
			});
		block extrahead
	body
		.container_16
			block content

				
				

		
		
