extends layout

block header
	a(href="/home" style="margin-top:0%;line-height:0px;")
		h1 Shop
		h2 home

block content
	.content	
		items
			a(href="/projects")
				.item item#1
			a(href="/shop")
				.item item#2
			a(href="/shop")
				.item item#3
			a(href="/shop")
				.item item#4
			a(href="/shop")
				.item item#5
			a(href="/shop")
				.item item#6
			a(href="/shop")
				.item item#7
			a(href="/shop")
				.item item#8
			|<br/>