extends layout

block content
			.grid_12(style="line-height=0px;")
					a(href="/home")
						.homeheader Shop
						.homedesc(style="top:3px;") bridget crowe				
			.clear
			.grid_16(style="position:relative;left:12px;")
				.grid_5
					.project item#1 [280x208]
				.grid_5
					.project item#2 [280x208]
				.grid_5
					.project item#3 [280x208]
			.grid_16(style="top:16px;position:relative;left:12px;")
				.grid_5
					.project item#4 [280x208]
				.grid_5 
					.project item#5 [280x208]
				.grid_5
					.project item#6 [280x208]

			