body {
  height: auto;
	position:relative;
	margin-bottom:20px;
	top:0px;
}


a {
  text-decoration: none;
	color:black;
}

a:hover {
  color:#C0C0C0;
	-webkit-transition: color .30s ease;
  -moz-transition: color .30s ease;
  -ms-transition: color .30s ease;
  -o-transition: color .30s ease;
  transition: color .30s ease;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
		
}

h2 {
  font-size: 70%;
}

p {
  padding: 10px 0;
}

.container_12,
.container_16,
.container_24 {
  background-color: #color: #black;
  background-repeat: repeat-y;
  margin-bottom:10%;
	margin-top:0%;
	font-family:'Josefin Sans', sans-serif;
	font-size:52px;
}

.mainimage{
	z-index=0;
	opacity=1;
	height:380px;
	position:absolute;
}
.mainimage:hover{
    filter: alpha(opacity=50);
    opacity: .6;
    -webkit-transition: opacity .75s ease;
    -moz-transition: opactiy .75s ease;
    -ms-transition: opacity .75s ease;
    -o-transition: opacity .75s ease;
    transition: opacity .75s ease;
}


/*----------FOR WELCOME PAGE WITH SPLASH IMAGE---------------*/
.welcome{
	height:480;
	width:720;
	position:relative;
	top:20px;
	
	
}

.welcometext{
	z-index=100;
	text-align:center;
	margin-top:15px;
	margin-left:33%;
	width:400px;
}

.welcomeimage{
	z-index=0;
	opacity=1;
	align-self:center;
}	

.welcome:hover img{
	
	filter: alpha(opacity=40);
  box-shadow:0px 0px 50px gray;
  -webkit-transition: box-shadow .50s ease;
  -moz-transition: box-shadow .50s ease;
  -ms-transition: box-shadow .50s ease;
  -o-transition: box-shadow .50s ease;
  transition: box-shadow .50s ease;
		
}
.welcome:hover .welcometext{
	
	filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity .75s ease;
  -moz-transition: opactiy .75s ease;
  -ms-transition: opacity .75s ease;
  -o-transition: opacity .75s ease;
  transition: opacity .75s ease;
		
}

.welcome:hover .comingsoon{
	
	filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity .30s ease;
  -moz-transition: opactiy .30s ease;
  -ms-transition: opacity .30s ease;
  -o-transition: opacity .30s ease;
  transition: opacity .30s ease;
		
}


/*----------FOR HOME PAGE WITH NAV---------------*/

.homeimage{
	opacity:.4;
	position:absolute;
	z-index=0;
	
}

.homeheader{
	text-align:left;
	top:0px;
	left:20px;
	position:relative;
	
}

.homedesc{
	position:relative;
	top:0px;
	line-height:0px;
	height:25px;
	left:20px;
	font-size:70%;
}



.nav{
	height:128px;
	width:920px;
	overflow:hidden;
	margin-top:5px;
	border:black solid 4px;
	height:152px;
	left:12px
	
}

.navtext{
	text-align:center;
	z-index:5;
	position:relative;
	height:0px;
	color:black;
}

.nav img{
	opacity:.02.;	
	overflow:hidden;
	z-index:0;
	float:left;
	opacity:.3;
	top:0px;
	position:relative;
}

.nav:hover .navtext{
	color:#C0C0C0;
	-webkit-transition: color .30s ease;
  -moz-transition: color .30s ease;
  -ms-transition: color .30s ease;
  -o-transition: color .30s ease;
  transition: color .30s ease;
	
	
	
}

.nav:hover img{
	filter: alpha(opacity=5);
  opacity: .5;
  -webkit-transition: opacity .30s ease;
  -moz-transition: opactiy .30s ease;
  -ms-transition: opacity .30s ease;
  -o-transition: opacity .30s ease;
  transition: opacity .30s ease;
}

.nav:hover{
  border: 4px solid white;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: border .30s ease;	
}


/*----------FOR CONTACT PAGE---------------*/



.contact,
.resume,
.bio{
	height:400px;
	width:inheret;	
	border:4px solid black;
	position:relative;
	top:15px;	
	left:20px;
}

.biotext{
	text-align:left;
	font-size:33%;
	overflow:auto;
	width:auto;	
}

.heading{
	font-size:75%;
	padding-left:10px;
}

.content{
	font-size:33%;
	padding-left:10px;
}

.bio:hover,
.resume:hover,
.contact:hover{
  border: 4px solid white;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: border .30s ease;
	
}

/*----------FOR PROJECT OVERALL PAGE---------------*/

.project{
	height:200px;
	width:inheret;	
	border:4px solid black;
	position:relative;
	top:15px;	
	font-size:75%;
	padding-left:5px;
}

.project:hover{
  border: 4px solid #C0C0C0;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: border .30s ease;
	
}
.project:hover{
  color:#C0C0C0;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: white .30s ease;
	
}

/*----------FOR PROJECT INDIVIDUAL PAGE---------------*/

.projimg{
	height:400px;
	width:inheret;	
	border:4px solid black;
	position:relative;
	top:15px;	
	font-size:75%;
	padding-left:5px;
}

.projimg:hover{
  border: 4px solid #C0C0C0;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: border .30s ease;
	
}
.projimg:hover{
  color:#C0C0C0;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: white .30s ease;
	
}

/*-----------THIS IS FOR PROJECT GALLERY---------------*/

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/*=================================================
	Main Styles
==================================================*/

#content-slider {
font-family: arial;
width: 900px;
margin: 0 auto;
margin-top: 100px;
}

#content2 {
overflow: hidden;
width: 840px;
height: 640px;
-webkit-box-shadow: 0px 0px 50px 10px #c9c9c9;
-moz-box-shadow: 0px 0px 50px 10px #c9c9c9;
box-shadow: 0px 0px 50px 10px #c9c9c9;
}

#content-inner {
width:10000px;
height: 480px;
}

.page {
width: 840px;
height: 640px;
float: left;
}

/*================================================
	Styling the targets.  There are 6 nested divs -
	each div corresponds to a page.  6 pages = 
	6 divs.
================================================*/
#content-inner-1:target #content-inner {
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-o-transition: all 400ms ease;
transition: all 400ms ease;
margin-left: 0px;
}

#content-inner-2:target #content-inner {
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-o-transition: all 400ms ease;
transition: all 400ms ease;
margin-left: -640px;
}

#content-inner-3:target #content-inner {
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-o-transition: all 400ms ease;
transition: all 400ms ease;
margin-left: -1280px;
}

#content-inner-4:target #content-inner {
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-o-transition: all 400ms ease;
transition: all 400ms ease;
margin-left: -1920px;
}

#content-inner-5:target #content-inner {
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-o-transition: all 400ms ease;
transition: all 400ms ease;
margin-left: -2560px;
}

#content-inner-6:target #content-inner {
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-o-transition: all 400ms ease;
transition: all 400ms ease;
margin-left: -3200px;
}


/*=======================================
	Generic styling here.
========================================*/

.page-info {
	height: 90px;
	background-color: rgba(99, 99, 99, 0.6);
	position: relative;
	margin-top: px;
	bottom: 103px;
	width:480px;
	color: #dedede;
	padding-left: 20px;
	padding-top: 10px;
}

.page-info h2 {
	font-size: 21px;
	margin-bottom: 10px;
	margin-top: 0px;
	color: #fafafa;
}

.page-text {
	font-size: 15px;
}

#nav2 {
	list-style-type: none;
	width: 156px;
	height: 16px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0;
}

.button {
	float: left;
	background: #bababa;
	width: 16px;
	height: 16px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-left: 5px;
	margin-right: 5px;
}

.button:hover {
	-webkit-box-shadow: inset 0px 0px 2px 2px #d4d4d4;
	-moz-box-shadow: inset 0px 0px 2px 2px #d4d4d4;
	box-shadow: inset 0px 0px 2px 2px #d4d4d4;
}

.button:active {
	-webkit-box-shadow: inset 0px 0px 2px 2px #7a7a7a;
	-moz-box-shadow: inset 0px 0px 2px 2px #7a7a7a;
	box-shadow: inset 0px 0px 2px 2px #7a7a7a;
}

.button a {
	display: block;
	width: 16px;
	height: 16px;
}

img.icon{
    height:25px; /* you can use % */
    width: 25px;
		top:0px;
		padding-bottom:100px;
}

img.flip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}


  <!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->

    /* Prevent the slideshow from flashing on load */
#slides {
	display:none;
}

i{
	border:1px black solid;	
}


.container {
   padding-left: 32px;
}


    #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:0px;
    }

    #slides .slidesjs-previous{
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
			margin-top:0px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
			padding-top:13px;
      background-image: url(/images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

