body {
  background: #black;
  height: auto;
}

a {
  text-decoration: none;
	color:black;
}

a:hover {
  color:white;
	-webkit-transition: color .30s ease;
  -moz-transition: color .30s ease;
  -ms-transition: color .30s ease;
  -o-transition: color .30s ease;
  transition: color .30s ease;
}

h1 {
  font: 52px "Lucida Grande", Helvetica, Arial, sans-serif;
		
}

h2 {
  font-size: 70%;
}

p {
  padding: 10px 0;
  text-align: left;
}

.container_12,
.container_16,
.container_24 {
  background-color: #color: #black;
  background-repeat: repeat-y;
  margin-bottom:10%;
	margin-top:3%;
	font: 52px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.container_12 {
  background-image: url(../img/12_col.gif);
}

.container_16 {
  background-image: url(../img/16_col.gif);
}

.container_24 {
  background-image: url(../img/24_col.gif);
}

.mainimage{
	z-index=0;
	opacity=1;
	height:380px;
	position:absolute;
}
.mainimage:hover{
    filter: alpha(opacity=50);
    opacity: .6;
    -webkit-transition: opacity .75s ease;
    -moz-transition: opactiy .75s ease;
    -ms-transition: opacity .75s ease;
    -o-transition: opacity .75s ease;
    transition: opacity .75s ease;
}


/*----------FOR WELCOME PAGE WITH SPLASH IMAGE---------------*/
.welcome{
	height:480;
	width:720;
	text-align:left;
}

.welcometext{
	position:absolute;
	z-index=100;
	text-align:left;
	opacity:0;
	margin-top:10px;
	margin-left:20px;
}

.comingsoon{
	position:absolute;
  margin-top:25%;
	z-index=100;
  font: 52px "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align:left;
	opacity:0;
	margin-top:15px;
	margin-left:20px;
}

.welcomeimage{
	z-index=0;
	opacity=1;
	align-self:center;
}	

.welcome:hover img{
	
	filter: alpha(opacity=40);
  opacity: .4;
  -webkit-transition: opacity .30s ease;
  -moz-transition: opactiy .30s ease;
  -ms-transition: opacity .30s ease;
  -o-transition: opacity .30s ease;
  transition: opacity .30s ease;
		
}
.welcome:hover .welcometext{
	
	filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity .75s ease;
  -moz-transition: opactiy .75s ease;
  -ms-transition: opacity .75s ease;
  -o-transition: opacity .75s ease;
  transition: opacity .75s ease;
		
}

.welcome:hover .comingsoon{
	
	filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity .30s ease;
  -moz-transition: opactiy .30s ease;
  -ms-transition: opacity .30s ease;
  -o-transition: opacity .30s ease;
  transition: opacity .30s ease;
		
}


/*----------FOR HOME PAGE WITH NAV---------------*/

.homeimage{
	opacity:.4;
	position:absolute;
	z-index=0;
	
}

.homeheader{
	text-align:left;
	top:10px;
	left:20px;
	position:relative;
	
}

.homedesc{
	position:relative;
	top:0px;
	left:20px;
	font-size:70%;
}



.nav{
	height:128px;
	width:720px;
	overflow:hidden;
	margin-top:5px;
	border:black solid 4px;
	height:152px;
	
}

.navtext{
	text-align:center;
	z-index:5;
	position:relative;
	height:0px;
	color:black;
}

.nav img{
	opacity:.02.;	
	overflow:hidden;
	z-index:0;
	float:left;
	opacity:.3;
	top:0px;
	position:relative;
}

.nav:hover .navtext{
	color:white;
	-webkit-transition: color .30s ease;
  -moz-transition: color .30s ease;
  -ms-transition: color .30s ease;
  -o-transition: color .30s ease;
  transition: color .30s ease;
	
	
	
}

.nav:hover img{
	filter: alpha(opacity=5);
  opacity: .5;
  -webkit-transition: opacity .30s ease;
  -moz-transition: opactiy .30s ease;
  -ms-transition: opacity .30s ease;
  -o-transition: opacity .30s ease;
  transition: opacity .30s ease;
}

.nav:hover{
  border: 4px solid white;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: border .30s ease;	
}


/*----------FOR CONTACT PAGE---------------*/



.contact,
.resume,
.bio{
	height:400px;
	width:inheret;	
	border:4px solid black;
	position:relative;
	top:15px;	
}

.biotext{
	text-align:left;
	font-size:33%;
	overflow:auto;
	width:auto;	
}

.heading{
	font-size:75%;
	padding-left:10px;
}

.content{
	font-size:33%;
	padding-left:10px;
}

.bio:hover,
.resume:hover,
.contact:hover{
  border: 4px solid white;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: border .30s ease;
	
}

/*----------FOR PROJECT OVERALL PAGE---------------*/

.project{
	height:200px;
	width:inheret;	
	border:4px solid black;
	position:relative;
	top:15px;	
	font-size:75%;
	padding-left:5px;
}

.project:hover{
  border: 4px solid white;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: border .30s ease;
	
}
.project:hover{
  color: white;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: white .30s ease;
	
}