body {
  height: auto;
	position: relative;
	margin-bottom: 20px;
	top:0px;
}

a {
  text-decoration: none;
	color:black;
}

a:hover {
  color:#C0C0C0;
	-webkit-transition: color .30s ease;
  -moz-transition: color .30s ease;
  -ms-transition: color .30s ease;
  -o-transition: color .30s ease;
  transition: color .30s ease;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
		
}

h2 {
  font-size: 70%;
}

p {
  padding: 10px 0;
}

.container_12,
.container_16,
.container_24 {
  background-color: #color: #black;
  background-repeat: repeat-y;
  margin-bottom:10%;
	margin-top:0%;
	font-family:'Josefin Sans', sans-serif;
	font-size:52px;
}

.mainimage{
	z-index=0;
	opacity=1;
	height:380px;
	position:absolute;
}
.mainimage:hover{
    filter: alpha(opacity=50);
    opacity: .6;
    -webkit-transition: opacity .75s ease;
    -moz-transition: opactiy .75s ease;
    -ms-transition: opacity .75s ease;
    -o-transition: opacity .75s ease;
    transition: opacity .75s ease;
}


/*----------FOR WELCOME PAGE WITH SPLASH IMAGE---------------*/
.welcome{
	height:480;
	width:720;
	position:relative;
	top:20px;
	
	
}

.welcometext{
	z-index=100;
	text-align:center;
	margin-top:15px;
	margin-left:33%;
	width:400px;
}

.welcomeimage{
	z-index=0;
	opacity=1;
	align-self:center;
}	

.welcome:hover img{
	
	filter: alpha(opacity=40);
  box-shadow:0px 0px 50px gray;
  -webkit-transition: box-shadow .50s ease;
  -moz-transition: box-shadow .50s ease;
  -ms-transition: box-shadow .50s ease;
  -o-transition: box-shadow .50s ease;
  transition: box-shadow .50s ease;
		
}
.welcome:hover .welcometext{
	
	filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity .75s ease;
  -moz-transition: opactiy .75s ease;
  -ms-transition: opacity .75s ease;
  -o-transition: opacity .75s ease;
  transition: opacity .75s ease;
		
}

.welcome:hover .comingsoon{
	
	filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity .30s ease;
  -moz-transition: opactiy .30s ease;
  -ms-transition: opacity .30s ease;
  -o-transition: opacity .30s ease;
  transition: opacity .30s ease;
		
}


/*----------FOR HOME PAGE WITH NAV---------------*/

.homeimage{
	opacity:.4;
	position:absolute;
	z-index=0;
	
}

.homeheader{
	text-align:left;
	top:0px;
	left:20px;
	position:relative;
	
}

.homedesc{
	position:relative;
	top:0px;
	line-height:0px;
	height:25px;
	left:20px;
	font-size:70%;
}



.nav{
	height:128px;
	width:920px;
	overflow:hidden;
	margin-top:5px;
	border:black solid 4px;
	height:152px;
	left:12px
	
}

.navtext{
	text-align:center;
	z-index:5;
	position:relative;
	height:0px;
	color:black;
}

.nav img{
	opacity:.02.;	
	overflow:hidden;
	z-index:0;
	float:left;
	opacity:.3;
	top:0px;
	position:relative;
}

.nav:hover .navtext{
	color:#C0C0C0;
	-webkit-transition: color .30s ease;
  -moz-transition: color .30s ease;
  -ms-transition: color .30s ease;
  -o-transition: color .30s ease;
  transition: color .30s ease;
	
	
	
}

.nav:hover img{
	filter: alpha(opacity=5);
  opacity: .5;
  -webkit-transition: opacity .30s ease;
  -moz-transition: opactiy .30s ease;
  -ms-transition: opacity .30s ease;
  -o-transition: opacity .30s ease;
  transition: opacity .30s ease;
}

.nav:hover{
  border: 4px solid white;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: border .30s ease;	
}


/*----------FOR CONTACT PAGE---------------*/



.contact,
.resume,
.bio{
	height:400px;
	width:inheret;	
	border:4px solid black;
	position:relative;
	top:15px;	
	left:20px;
}

.biotext{
	text-align:left;
	font-size:33%;
	overflow:auto;
	width:auto;	
}

.heading{
	font-size:75%;
	padding-left:10px;
}

.content{
	font-size:33%;
	padding-left:10px;
}

.bio:hover,
.resume:hover,
.contact:hover{
  border: 4px solid white;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: border .30s ease;
	
}

/*----------FOR PROJECT OVERALL PAGE---------------*/

.project{
	height:200px;
	width:inheret;	
	border:4px solid black;
	position:relative;
	top:15px;	
	font-size:75%;
	padding-left:5px;
}

.project:hover{
  border: 4px solid #C0C0C0;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: border .30s ease;
	
}
.project:hover{
  color:#C0C0C0;
  -webkit-transition: border .30s ease;
  -moz-transition: border .30s ease;
  -ms-transition: border .30s ease;
  -o-transition: border .30s ease;
  transition: white .30s ease;
	
}

/*-----------THIS IS FOR PROJECT GALLERY---------------*/

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


img.icon{
    height:25px; /* you can use % */
    width: 25px;
		top:0px;
		padding-bottom:100px;
}

