doctype 5
html(lang="en")
	head
		title= "BridgetCroweWebsite"
		link(rel='stylesheet', href='/stylesheets/960_16_col.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/text.css')
		meta(name="viewport" content="width=device-width")
		script(src='/javascripts/jquery.slides.min.js')
		script(src='/javascripts/jquery-1.10.2.js')
		script(src='/javascripts/scripts.js')
		
		link(href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css')
			
	.container_16
		body
			.grid_12(style="line-height=0px;")
					a(href="/home")
						.homeheader Alexandra Astor
						.homedesc(style="top:5px;") home	[960x640]
			.clear
			.container
				#slides
					img(src='/images/homeimage2.jpg', alt='Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/')
					img(src='/images/projectbgd.jpg', alt='Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/')
					img(src='/images/shoptest.jpg', alt='Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/')
					img(src='/images/homeimage.jpg', alt='Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/')
					a.slidesjs-previous.slidesjs-navigation(href='#')
						i.icon-chevron-left.icon-large
							img.icon(src="/images/left-arrow.png")
					a.slidesjs-next.slidesjs-navigation(href='#')
						i.icon-chevron-right.icon-large
							img.icon.flip(src="/images/left-arrow.png")
						
			// SlidesJS Required: Link to jQuery
			script(src='http://code.jquery.com/jquery-1.9.1.min.js')
			// End SlidesJS Required
			// SlidesJS Required: Link to jquery.slides.js
			script(src='/javascripts/jquery.slides.min.js')
			// End SlidesJS Required
			// SlidesJS Required: Initialize SlidesJS with a jQuery doc ready
			script
				$(function() {
				$('#slides').slidesjs({
				width: 940,
				height: 528
				});
				});
