extends projectlayout

block content

			.grid_16(style="line-height=0px;")
					a(href="/home")
						.homeheader Projects
						.homedesc home
			.clear
			.grid_16(style="position:relative;left:12px;")
				a(href="/projects/alexandraastor")
					.grid_5
						.project Alexandra Astor [280x208]
				a(href="http://ambataliafabrics.blogspot.com/")
					.grid_5
							.project Ambatalia [280x208]
				a(href="/projects/cauleensmith")
					.grid_5
						.project Cauleen Smith [280x208]
			.grid_16(style="top:16px;position:relative;left:12px;")
				a(href="/projects/jessicamazza")
					.grid_5
						.project Jessica Mazza [280x208]
				a(href="/projects/margauxfranco/spring2013")
					.grid_5
						.project Margaux Franco Fall 2013 [280x208]
				a(href="/projects/margauxfranco/fall2012")
					.grid_5
						.project Margaux Franco Spring 2012


block script
		script.
			$(document).ready(function() {
				$("body").css("opacity", "0.1");
				$("body").delay(200).animate({ opacity: 1 }, 200);
				});